<h1>Astronauts</h1>
<ul id='astronauts'>
<% @astronauts.each do |astronaut| %>
  <li>
  <%= astronaut.name%>
  </li>
  <li>
  <%= astronaut.age %>
  </li>
  <li>
  <%= astronaut.job %>
  </li>
<% end %>
</ul>
<%= Astronaut.average_age %>
